{% extends "base.html" %}
{% block title %} Afficher PC {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  ID
						</th>
						<th class="" >
						  Modèle
						</th>
						<th class="" >
						  Numéro de série
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.ID_Avoir_Sim_PC }}
					  </th>
					  <th class="align-middle">
						{{ row.Modele_PC }}
					  </th>
					  <th class="align-middle">
						{{ row.Numero_de_serie_PC }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('pc_ajouter_wtfgit push -u origin --tags') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_avoir_sim_pc_selected', ID_avoir_sim_pc_edit_html=row.ID_PC) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.avoir_sim_pc|default("PAS DE SIM", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun PC.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
